<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rutherfordit.com.instasalary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/neocreditlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/neocreditlogo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.partnership.ParCreditRequirementsActivity" />
        <activity android:name=".activities.privatelimited.PlCreditRequirementsActivity" >

        </activity>
        <activity android:name=".activities.sp.SpCreditRequirementsActivity" >
        </activity>
        <activity android:name=".activities.partnership.PartnershipDocUploadActivity" />
        <activity android:name=".activities.privatelimited.PrivateLimitedDocUploadActivity" >
        </activity>
        <activity android:name=".activities.sp.SPDocumentUploadActivity" >
        </activity>
        <activity android:name=".activities.partnership.PartnershipPartnerSecondDetailsActivity" />
        <activity android:name=".activities.partnership.PartnershipPartnerFirstDetailsActivity" />
        <activity android:name=".activities.partnership.PartnershipCompanyDetailsActivity" />
        <activity android:name=".activities.privatelimited.PrivateLimitedDirectorSecondDetailsActivity" />
        <activity android:name=".activities.privatelimited.PrivateLimitedDirectorFirstDetailsActivity" />
        <activity android:name=".activities.privatelimited.PrivateLimitedCompanyDetailsActivity" />
        <activity android:name=".activities.sp.SoleProprietorshipCompanyDetailsActivity" />
        <activity android:name=".activities.sp.SoleProprietorshipDetailsActivity" />
        <activity android:name=".activities.HomeActivity" >

        </activity>
        <activity android:name=".activities.BankDetailsActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".activities.PersonalDetailsActivity" />
        <activity android:name=".activities.SegmentActivity" >
        </activity>
        <activity android:name=".activities.EnterOTPActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashScreenActivity">
        </activity>
    </application>

</manifest>