<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rutherfordit.com.instasalary">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:overrideLibrary="androidx.camera.extensions"
        tools:targetApi="q"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/neocreditlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/neocreditlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CompanyDetails">

        </activity>
        <activity android:name=".activities.DocsUploadActivity" />
        <activity android:name=".activities.partnership.ParCreditRequirementsActivity" />
        <activity android:name=".activities.privatelimited.PlCreditRequirementsActivity" />
        <activity android:name=".activities.sp.SpCreditRequirementsActivity" />
        <activity android:name=".activities.partnership.PartnershipDocUploadActivity" />
        <activity android:name=".activities.privatelimited.PrivateLimitedDocUploadActivity" />
        <activity android:name=".activities.sp.SPDocumentUploadActivity"></activity>
        <activity android:name=".activities.partnership.PartnershipPartnerSecondDetailsActivity" />
        <activity android:name=".activities.AdharAuthenticationActivity" />
        <activity android:name=".activities.partnership.PartnershipPartnerFirstDetailsActivity" />
        <activity android:name=".activities.partnership.PartnershipCompanyDetailsActivity"></activity>
        <activity android:name=".activities.privatelimited.PrivateLimitedDirectorSecondDetailsActivity" />
        <activity android:name=".activities.privatelimited.PrivateLimitedDirectorFirstDetailsActivity" />
        <activity android:name=".activities.privatelimited.PrivateLimitedCompanyDetailsActivity" />
        <activity android:name=".activities.sp.SoleProprietorshipCompanyDetailsActivity" />
        <activity android:name=".activities.sp.SoleProprietorshipDetailsActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.BankDetailsActivity">
        </activity>
        <activity android:name=".activities.PersonalDetailsActivity" />
        <activity android:name=".activities.SegmentActivity" />
        <activity android:name=".activities.EnterOTPActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PromoterDetails"></activity>
        <activity android:name=".activities.DirectorDetatils"></activity>
    </application>

</manifest>